body{
    background-color: rgb(47, 189, 255);
}

.part01{
    text-align: center;
    font-size: 150%;
    color: blue;
}

.part01{
    border-color: black;
    border-style: inset;
    border-width: 5px;
    margin-left: 10;
}
 
.titulos{
 text-align: center;
 font-family: Verdana, Geneva, Tahoma, sans-serif;


 }
#ima1{
    width: 20%; border-style: inset;
    border-color: black;
    border-width: 5px;
   
}
#ima1{
    margin-inline:  38% ;
}

#ima2{
    width: 20%;
    border-style: inset;
    border-color: black;
    border-width: 5px;
   
}
#ima2{
    margin-inline:  38% ;
    border-style: inset;
    border-color: black;
    border-width: 5px;
}

#ima3{
    width: 20%;
    border-style: inset;
    border-color: black;
    border-width: 5px;
   
}
#ima3{
    margin-inline:  38% ;

}

#ima4{
    
    width: 20%;
    border-style: inset;
    border-color: black;
    border-width: 5px;

}
#ima4{
    margin-inline:  38% ;
}

h2{
    text-align: center;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 border-color: black;
    border-style: inset;
    border-width: 5px;
    margin-left: 10;
}
